@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
  max-width: none;
}

.prose pre {
  margin: 0;
  padding: 0;
  background: transparent;
}

.prose code {
  word-break: break-word;
  white-space: pre-wrap;
}

.prose > *:first-child {
  margin-top: 0;
}

.prose > *:last-child {
  margin-bottom: 0;
}